.messages-main-container{
   font-family: Arial, Helvetica, sans-serif;
   border-left: 1px solid skyblue;;
   overflow-y: auto;
}

.massage-container{
    position: relative;
    display: flex;
    flex-direction: row;
    direction: rtl;
    border-bottom:  1px solid skyblue;
    width: 98%;   
}

.message-image{
    width: 70px;
    height: 100%;

}

.message-content{
 border: 50px;
}



.message-title{
    text-align: center;
    margin : 10px;
    font-size: 28px;
    font-weight: 700;
}

       
.btnnewmsg{
    height: 75px;
    width: 75px;
    position: absolute;
    display:block;
    border-radius: 10px;
    border: 1px solid red;
    color : red;
    font-size: 12px;
    font-weight: 700px;

    }
    
    .btnnewmsg:hover{
        position: absolute;
        display:block;
        border-radius: 50%;
        border: 1px solid rgb(198, 17, 230);
        color : rgb(235, 10, 190);
    }

